<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="dharmeshdemo" id="dharmeshdemo">
            <module name="Krish_DharmeshDemo"/>
        </route>
    </router>
</config>